<div class="row">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
		<form class="form-signin">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputUserName" class="sr-only">Username</label>
			<input type="text" class="form-control" placeholder="Username" required="" autofocus="" style="margin-bottom:5px;" ng-model="user.username">
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" class="form-control" placeholder="Password" required="" ng-model="user.password">
			</br>
			<button class="btn btn-lg btn-primary btn-block" ng-click="login(user)">Sign in</button>
		</form>
		<a ng-href="#/register">Dont have an account?</a>
	</div>
	<div class="col-sm-4">
	</div>
</div>